<section class="contact-form">
    <div class="contact-form-container">
        <h3 class="contact-form-title">MESSAGE ME DIRECTLY!</h3>
        <p class="contact-form-description"></p>
        <form data-members-form="contact" action="https://getform.io/f/093a8e7f-b6be-44ae-85d8-ecaebab556dc">

            <div class="form-group">
                <input type="text" name="firstname" id="first-name" placeholder="First Name" required>
                <input type="text" name="lastname" id="last-name" placeholder="Last Name" required>
                <input type="email" name="emailaddress" id="email-address" placeholder="Your email address" required>
                <textarea rows="5" name="message" id="message" placeholder="Message" required></textarea>
                <input type="hidden" name="subject" id="email-subject" value="Contact Form Submission">
                <input type="submit" value="Send Message!">
            </div>
            <div class="message-success">
                <strong>Great!</strong> Check your inbox and click the link to confirm your subscription.
            </div>
            <div class="message-error">
                Please enter a valid email address!
            </div>
        </form>
    </div>
</section>


{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>
    $(function () {
        var $postContent = $(".post-full-content");
        $postContent.fitVids();
    });
</script>
{{/contentFor}}