<section class="contact-form"  style="background-image: url({{@site.cover_image}})">
    <script src="https://www.google.com/recaptcha/api.js?render=6LfnzLYfAAAAAK0qxEdr13wbrXQexM6YjOBTid0s"></script>
    <script>
        
        function getTokenCaptcha(){
           grecaptcha.execute('6LfnzLYfAAAAAK0qxEdr13wbrXQexM6YjOBTid0s', {action: 'homepage'})
           .then(function(token) {
             document.getElementById('captchaResponse').value = token;
           });
        }
        
        grecaptcha.ready(function() {
            getTokenCaptcha();
         });
        
        setInterval(function(){
            getTokenCaptcha();
        },90000);       
    </script>
    <div class="contact-form-container">        
    <h3 class="contact-form-title">MESSAGEdd ETHAN</h3>
    <p class="contact-form-description"></p>
    <form data-members-form="contact" action="https://getform.io/f/093a8e7f-b6be-44ae-85d8-ecaebab556dc" method="POST">     
        
        <div class="form-group">                
                <input type="text" name="firstname" id="firstname" placeholder="First Name" required> 
                <input type="text" name="lastname" id="lastname" placeholder="Last Name" required>  
                <input type="email" name="email_address" id="email-address" placeholder="Your email address" required>                
                <textarea rows="5" name="message" id="message" placeholder="Message" required></textarea>
                <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
                <input type="hidden" id="captchaResponse" name="g-recaptcha-response">
                <button type="submit" style="background-color: #111; margin-top: 0.6em;">Send Message</button>        
        </div>
        <div class="message-success">
            <strong>Great!</strong> Check your inbox and click the link to confirm your subscription.
        </div>
        <div class="message-error">
            Please enter a valid email address!
        </div>
    </form>
    </div>
</section>


{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>
    $(function () {
        var $postContent = $(".post-full-content");
        $postContent.fitVids();
    });
</script>
{{/contentFor}}