.site-main{
   
    font-size: 25px;
    max-width: 1350px;
    margin: 0 auto;

}

.homeMainImg{
    position: relative;
    float: right;
    width: 400px;
    min-height: 400px;
    margin: 20px 46px 0 20px;
}